<div id="conversation" data-room="<%= @room %>" data-nickname="<%= @nickname %>">
  <div id="videocall">
    <p>Hello, <%= @nickname %></p>

    <p>Welcome to room <strong><%= @room %></strong></p>
  </div>

  <div id="chat">
    <div id="history">
    </div>

    <form>
      <input type="text" name="message[content]" />
    </form>
  </div>
</div>
