@import url('https://fonts.googleapis.com/css?family=Prompt');

body.page.index
  background: linear-gradient(rgba(48, 57, 118, 0.85), rgba(48, 57, 118, 0.85)), url("/images/sayagata-400px.png")
  background-repeat: repeat
  position: relative
  height: 100%

  main
    transform: translate(-50%, -50%)
    position: absolute
    width: 450px
    top: 50%
    left: 50%
    text-align: center
    height: auto !important

    header
      font-family: 'Prompt', sans-serif
      text-align: center
      margin-bottom: 1em
      color: #fff
      font-size: 45px

  h3
    color: #fff

  form

    .field
      margin: .5em 0

    input
      &[type="text"]
      &[type="email"],
      &[type="password"],
      &[type="submit"]
        border: 0px none
        width: 350px
        padding: 1em
        font-size: 1.1em

      &[type="submit"]
        background-color: #3BAFDA
        border-radius: 5px
        color: #fff

    .actions
      margin-bottom: 1em

  footer
    margin-top: 75px
    font-family: 'Prompt', sans-serif
    color: #8e96ca
    text-align: center
    font-size: 15px
    line-height: 40px
    
    img
      width: 100px
