<header>Talkex</header>

<form action="/rooms" method="post">
  <input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">

  <div class="field">
    <input type="text" name="room[nickname]" placeholder="nickname" required="required" />
  </div>

  <div class="field">
    <input type="text" name="room[roomname]" placeholder="room" required="required" />
  </div>

  <div class="actions">
    <input type="submit" value="join" />
  </div>
</form>
